body {
    background-image: url('http://buidln.clipdealer.com/001/874/419//previews/1--1874419-Sand%20in%20super%20slow%20motion%20falling%20from%20a%20hourglass.jpg');
    background-size: cover;
    background-position: center;
}

.clock {
    align-items: center;
    background-color: $clock-bg-color;
    border: 2px solid $clock-border-color;
    border-radius: 50%;
    display: flex;
    height: 14rem;
    width: 14rem;
    justify-content: center;
    margin: 4rem auto;
}

.clock-text {
    color: $clock-text-color;
    font-size: 3rem;
    font-weight: 300;
}
