.top-bar, .top-bar ul {
    background-color: $nav-background;
}

.top-bar {
    .menu-text {
        font-size: 1.3rem;
        color: $nav-text-color;
    }

    .active-link {
        color: $nav-link-color;
        font-size: 1.3rem;
        font-weight: 900;
        text-decoration: underline;
    }
}
