 // Colors
 $blue: #0059A7;


 //Navigation colors
$nav-background: $blue;
$nav-text-color: #ffffff;

//Clock variables
$clock-text-color: #ffffff;
$clock-bg-color: #FFC181;
$clock-border-color: #FF8100;
